fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-groq
langgraph
chromadb
youtube-transcript-api
yt-dlp
httpx
pydantic
sse-starlette
beautifulsoup4
requests
instaloader
groq